@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Roboto);
@import url(components/container.css);
@import url(components/avatar.css);
@import url(components/button.css);
@import url(components/banner.css);
@import url(components/card.css);

body{
  font-family: 'Lora', serif;
  font-size: 17px;
  margin: 0px;
  background: rgb(230, 230, 230);
}
h1,h2,h3{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
a{
  text-decoration: none;
}
